---
const today = new Date();
// Here, you can import a local image or specify a URL to an online one.
const imageUrl = 'public/about-image.jpg'; // Update this to your image's path
const pageTitle = '';//'Travel, nature, science and sustainability';
const pageUpperText = 
	`Hey! I'm Andreas, and this is where I blog my adventures, give travel tips (particularly for budget backpacking), and write 
	articles about wildlife, nature and sustainable products I've tried.`;
const pageUpperText2 = 
	`Right now I'm just starting out, so there aren't many posts up yet, but I've got tons of plans and am making content every day.`;
const pageText = 
	`You can also find EVEN MORE stuff on my TikTok, where I post mini wildlife documentaries, more travel tips and ideas, and vlogs of my journey.`;
const pageText2 = 
	`I've got a YouTube channel too, but right now I cba to make separate videos for that too, so it'll mostly just be TikTok reposts and shorts.`;
---

<html>
<head>
	<style>	

		.page-title {
			text-align: center;
			font-size: clamp(24px, 4vw, 40px);
			margin-top: 4rem; /* Spacing from top of the page */
			margin-bottom: 1rem; /* Spacing before the image section */
			font-weight: 500; /* Optional: if you want the title to be bold */
			font-style: italic;
			font-family: 'Urbanist';
			color: #444; /* Dark text color for the title */
		}
	
		/* Style for the image container */
		.image-container {
			display: flex;
			justify-content: center; /* Center the image horizontally */
			margin: 2rem 0; /* Vertical spacing around the image */
		}
	
		/* Style for the image itself */
		.centered-image {
			width: 50%; /* Taking up to 80% of the width of its container */
			max-width: 500px;
			height: auto; /* Maintain aspect ratio */
			border-radius: 0px; /* Rounded corners for the image */
		}
	
		/* Style for the page text */
		.page-text {
			text-align: center; /* Center-align the text */
			max-width: 600px; /* Maximum width for readability */
			margin: 0 auto 2rem; /* Center the block with automatic horizontal margins, add margin at the bottom */
			font-size: 1.125rem; /* Slightly larger font size for the text */
			line-height: 1.6; /* Line height for better readability */
			font-family: 'Urbanist';
			color: #666; /* Medium-dark text color for readability */
			padding: 0 1rem; /* Padding on the sides if the screen is small */
		}
		footer {
			padding: 2em 1em 2em 1em;
			background: linear-gradient(var(--gray-gradient)) no-repeat;
			color: #444;
			font-family: 'Urbanist';
			text-align: center;
		}
		.social-links {
			display: flex;
			justify-content: center;
			gap: 1em;
			margin-top: 1em;
		}
		.social-links a {
			text-decoration: none;
			color: #111;
		}
		.social-links a:hover {
			color: #777;
		}
	</style>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bad+Script&family=Dawning+of+a+New+Day&family=Julius+Sans+One&family=Junge&family=Montserrat&family=Neucha&family=Nothing+You+Could+Do&family=Urbanist:ital,wght@0,100..900;1,100..900&family=Zeyada&display=swap" rel="stylesheet">
	<!-- Add any head information you need, like a title, meta tags, etc. -->
	<title>{pageTitle}</title>
</head>

<body>
	<!-- Centered title for the about page -->
	<header>
		<h1 class="page-title">{pageTitle}</h1>
	</header>

	<article>
		<p class="page-text">{pageUpperText}</p>
	</article>
	<article>
		<p class="page-text">{pageUpperText2}</p>
	</article>

	<!-- Large centered image -->
	<div class="image-container">
		<img src={imageUrl} alt="A silhouette standing on one leg on a rock, arms outstretched" class="centered-image"/>
	</div>

	<!-- Some text about your page (or about section) -->
	<article>
		<p class="page-text">{pageText}</p>
	</article>
	<article>
		<p class="page-text">{pageText2}</p>
	</article>



<footer>
	&copy; {today.getFullYear()} Wild Atlas. All rights reserved.
	<div class="social-links">
		<a href="https://www.instagram.com/andreas.panay/" target="_blank">
			<span class="sr-only">Instagram</span>
			<svg width="48px" height="48px" aria-hidden="true" viewBox="0 0 48 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				<title>Instagram</title>
				<g id="Icon/Social/instagram-black" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
					<path fill="currentColor" d="M25.6440564,8.00125481 C28.524689,8.00651102 29.1340343,8.02966857 30.5968,8.09632 C32.29984,8.17376 33.46272,8.44448 34.48064,8.84 C35.5328,9.24896 36.42496,9.79584 37.31456,10.68544 C38.20416,11.57504 38.75136,12.4672 39.16,13.51936 C39.55552,14.53728 39.82592,15.70016 39.90368,17.4032 C39.9747749,18.9634834 39.9963833,19.5527641 39.9995653,22.9632797 L39.9995653,25.0367203 C39.9963833,28.4472359 39.9747749,29.0365166 39.90368,30.5968 C39.82592,32.29984 39.55552,33.46272 39.16,34.48064 C38.75136,35.5328 38.20416,36.42496 37.31456,37.31456 C36.42496,38.20416 35.5328,38.75104 34.48064,39.16 C33.46272,39.55552 32.29984,39.82624 30.5968,39.90368 C29.0365166,39.9747749 28.4472359,39.9963833 25.0367203,39.9995653 L22.9632797,39.9995653 C19.5527641,39.9963833 18.9634834,39.9747749 17.4032,39.90368 C15.70016,39.82624 14.53728,39.55552 13.51936,39.16 C12.4672,38.75104 11.57504,38.20416 10.68544,37.31456 C9.79584,36.42496 9.24864,35.5328 8.84,34.48064 C8.44448,33.46272 8.17408,32.29984 8.09632,30.5968 C8.02966857,29.1340343 8.00651102,28.524689 8.00125481,25.6440564 L8.00125481,22.3559436 C8.00651102,19.475311 8.02966857,18.8659657 8.09632,17.4032 C8.17408,15.70016 8.44448,14.53728 8.84,13.51936 C9.24864,12.4672 9.79584,11.57504 10.68544,10.68544 C11.57504,9.79584 12.4672,9.24896 13.51936,8.84 C14.53728,8.44448 15.70016,8.17376 17.4032,8.09632 C18.8659657,8.02966857 19.475311,8.00651102 22.3559436,8.00125481 Z M25.0186977,10.8832675 L22.9813023,10.8832675 C19.6322732,10.8861221 19.0771566,10.9057829 17.53472,10.976 C15.97472,11.04736 15.12736,11.30784 14.56384,11.52704 C13.81696,11.81728 13.28384,12.16416 12.72416,12.72384 C12.16416,13.28384 11.81728,13.81696 11.52704,14.56352 C11.30816,15.12736 11.04704,15.97472 10.97632,17.53472 C10.9058103,19.0771566 10.8861244,19.6322732 10.8832677,22.9813023 L10.8832677,25.0186977 C10.8861244,28.3677268 10.9058103,28.9228434 10.97632,30.46528 C11.04704,32.02528 11.30816,32.87264 11.52704,33.43648 C11.81728,34.18304 12.16416,34.71616 12.72416,35.27616 C13.28384,35.83584 13.81696,36.18272 14.56384,36.47296 C15.12736,36.69216 15.97472,36.95264 17.53472,37.024 C19.076864,37.0942171 19.6319556,37.1138779 22.9812271,37.1167325 L25.0187729,37.1167325 C28.3680444,37.1138779 28.923136,37.0942171 30.46528,37.024 C32.02528,36.95264 32.87264,36.69216 33.43616,36.47296 C34.18304,36.18272 34.71616,35.83584 35.27584,35.27616 C35.83584,34.71616 36.18272,34.18304 36.47296,33.43648 C36.69184,32.87264 36.95296,32.02528 37.02368,30.46528 C37.0941897,28.9228434 37.1138756,28.3677268 37.1167323,25.0186977 L37.1167323,22.9813023 C37.1138756,19.6322732 37.0941897,19.0771566 37.02368,17.53472 C36.95296,15.97472 36.69184,15.12736 36.47296,14.56352 C36.18272,13.81696 35.83584,13.28384 35.27584,12.72384 C34.71616,12.16416 34.18304,11.81728 33.43616,11.52704 C32.87264,11.30784 32.02528,11.04736 30.46528,10.976 C28.9228434,10.9057829 28.3677268,10.8861221 25.0186977,10.8832675 Z M24,15.78384 C28.53792,15.78384 32.21632,19.46224 32.21632,23.99984 C32.21632,28.53776 28.53792,32.21616 24,32.21616 C19.46208,32.21616 15.78368,28.53776 15.78368,23.99984 C15.78368,19.46224 19.46208,15.78384 24,15.78384 Z M24,18.66672 C21.0544,18.66672 18.66656,21.05456 18.66656,23.99984 C18.66656,26.94544 21.0544,29.33328 24,29.33328 C26.9456,29.33328 29.33344,26.94544 29.33344,23.99984 C29.33344,21.05456 26.9456,18.66672 24,18.66672 Z M32.540928,13.539232 C33.601088,13.539232 34.460928,14.398752 34.460928,15.459232 C34.460928,16.519392 33.601088,17.379232 32.540928,17.379232 C31.480448,17.379232 30.620928,16.519392 30.620928,15.459232 C30.620928,14.398752 31.480448,13.539232 32.540928,13.539232 Z" id="Shape" fill="#000000"></path>
				</g>
			</svg>
		</a>
		<a href="https://www.youtube.com/@andreas-panay" target="_blank">
			<span class="sr-only">YouTube</span>
			<svg width="48px" height="48px" aria-hidden="true" viewBox="0 0 48 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				<title>Youtube</title>
				<g id="Icon/Social/youtube-black" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
					<path fill="currentColor" d="M20.2838235,29.7208546 L20.2817697,19.3775851 L30.0092421,24.5671906 L20.2838235,29.7208546 Z M41.6409276,17.5856462 C41.6409276,17.5856462 41.2890436,15.0488633 40.2097727,13.9319394 C38.8405739,12.4655276 37.3060444,12.4583393 36.6026186,12.3724221 C31.5649942,12 24.008044,12 24.008044,12 L23.9922983,12 C23.9922983,12 16.4356904,12 11.398066,12.3724221 C10.6939556,12.4583393 9.16045298,12.4655276 7.79091194,13.9319394 C6.71164104,15.0488633 6.36009927,17.5856462 6.36009927,17.5856462 C6.36009927,17.5856462 6,20.5646804 6,23.5437145 L6,26.3365376 C6,29.3152295 6.36009927,32.2946059 6.36009927,32.2946059 C6.36009927,32.2946059 6.71164104,34.8310466 7.79091194,35.9483127 C9.16045298,37.4147246 10.9592378,37.3681718 11.7605614,37.5218644 C14.6406709,37.8042616 24.0001711,37.8915481 24.0001711,37.8915481 C24.0001711,37.8915481 31.5649942,37.8799099 36.6026186,37.5074878 C37.3060444,37.4219129 38.8405739,37.4147246 40.2097727,35.9483127 C41.2890436,34.8310466 41.6409276,32.2946059 41.6409276,32.2946059 C41.6409276,32.2946059 42,29.3152295 42,26.3365376 L42,23.5437145 C42,20.5646804 41.6409276,17.5856462 41.6409276,17.5856462 L41.6409276,17.5856462 Z" id="Shape" fill="#000000"></path>
				</g>
			</svg>
		</a>
		<a href="https://www.tiktok.com/@andreas.panay" target="_blank">
			<span class="sr-only">TikTok</span>
			<svg width="48px" height="48px" aria-hidden="true" viewBox="0 0 48 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				<title>Tiktok</title>
				<g id="Icon/Social/tiktok-black" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
					<path fill="currentColor" d="M38.0766847,15.8542954 C36.0693906,15.7935177 34.2504839,14.8341149 32.8791434,13.5466056 C32.1316475,12.8317108 31.540171,11.9694126 31.1415066,11.0151329 C30.7426093,10.0603874 30.5453728,9.03391952 30.5619062,8 L24.9731521,8 L24.9731521,28.8295196 C24.9731521,32.3434487 22.8773693,34.4182737 20.2765028,34.4182737 C19.6505623,34.4320127 19.0283477,34.3209362 18.4461858,34.0908659 C17.8640239,33.8612612 17.3337909,33.5175528 16.8862248,33.0797671 C16.4386588,32.6422142 16.0833071,32.1196657 15.8404292,31.5426268 C15.5977841,30.9658208 15.4727358,30.3459348 15.4727358,29.7202272 C15.4727358,29.0940539 15.5977841,28.4746337 15.8404292,27.8978277 C16.0833071,27.3207888 16.4386588,26.7980074 16.8862248,26.3604545 C17.3337909,25.9229017 17.8640239,25.5791933 18.4461858,25.3491229 C19.0283477,25.1192854 19.6505623,25.0084418 20.2765028,25.0219479 C20.7939283,25.0263724 21.3069293,25.1167239 21.794781,25.2902081 L21.794781,19.5985278 C21.2957518,19.4900128 20.7869423,19.436221 20.2765028,19.4380839 C18.2431278,19.4392483 16.2560928,20.0426009 14.5659604,21.1729264 C12.875828,22.303019 11.5587449,23.9090873 10.7814424,25.7878401 C10.003907,27.666593 9.80084889,29.7339663 10.1981162,31.7275214 C10.5953834,33.7217752 11.5748126,35.5530237 13.0129853,36.9904978 C14.4509252,38.4277391 16.2828722,39.4064696 18.277126,39.8028054 C20.2711469,40.1991413 22.3382874,39.9951517 24.2163416,39.2169177 C26.0948616,38.4384508 27.7002312,37.1209021 28.8296253,35.4300711 C29.9592522,33.7397058 30.5619062,31.7522051 30.5619062,29.7188301 L30.5619062,18.8324027 C32.7275484,20.3418321 35.3149087,21.0404263 38.0766847,21.0867664 L38.0766847,15.8542954 Z" id="Fill-1" fill="#000000"></path>
				</g>
			</svg>
		</a>
	</div>
</footer>


</body>
</html>
