---
import FormattedDate from './FormattedDate.astro';

interface PostListProps {
  posts: any[];
  basePath: string; // the base path for linking to articles or blog posts
}

const { posts, basePath }: PostListProps = Astro.props;

// Filter and sort the highlighted posts
const highlightedPosts = posts
  .filter(post => post.data.highlighted && post.data.status === 'live')
  .sort((a, b) => new Date(b.data.published_at).getTime() - new Date(a.data.published_at).getTime())
  .slice(0, 4); // Get the most recent four highlighted posts

// Filter the posts to only include live posts
const livePosts = posts.filter(post => post.data.status === 'live');
---



<style>
    .highlights-title {
        text-align: center;
        font-family: 'Urbanist', sans-serif;
        font-size: 25px; /* You can change this value to suit your preferences */
        font-weight: bold;
        color: #444;
        margin-top: 2em;
        margin-bottom: 0em; /* Giving space between the title and the posts */
        width: 100%;
    }
    .highlighted-posts-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        justify-content: space-around; /* This will evenly space the items and center them */
        margin-top: 1em;
        margin-bottom: 0.5em;
        margin-left: auto; /* Center the container */
        margin-right: auto; /* Center the container */
        max-width: 60%; /* Assuming each highlighted post is 180px wide with 1em gap; adjust accordingly */
    }
    .highlighted-post {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: inherit;
    }
    .highlighted-image-container {
        width: 180px;
        height: 180px;
        background-size: cover;
        background-position: center;
        border-radius: 0px;
        margin-bottom: 0.5em;
        margin-right: 0.55em;
        margin-left: 0.55em;
    }
    .highlighted-post-title {
        font-family: 'Urbanist', sans-serif;
        font-weight: 600px;
        font-size: 20px;
        color: #444;
        text-align: center;
        max-width: 180px;
    }
    .separator {
        width: 95%;
        background-color: lightgrey;
        height: 1px;
        margin: 2em auto;
    }

    .all-title {
        text-align: center;
        font-family: 'Urbanist', sans-serif;
        font-size: 25px; /* You can change this value to suit your preferences */
        font-weight: bold;
        color: #444;
        margin-top: 0.5em;
        margin-bottom: 0em; /* Giving space between the title and the posts */
        width: 100%;
    }
    
    main {
        display: flex;
        justify-content: center;
    }
    body {
        margin: 0;
        padding: 0;
    }
    .list {
        padding: 0 1em;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center; 
        margin: 2em auto 0 auto; /* Adjust the top margin as needed */

        /* For the horizontal line */
        /* &::before {
            content: "";
            display: block;
            height: 1px;
            width: 95%;
            background-color: lightgrey;
            margin-bottom: 2em;
        } */
    }
    .list-item {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: flex-start;
        margin-bottom: 2em;
        max-width: 80%; /* Adjust as needed */
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .list-item-link {
        text-decoration: none;
        color: inherit;
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    /* .post-image {
        width: 150px;
        height: 150px;
        object-fit: cover;
        margin-right: 1em;
        border-radius: 0px;
    } */
    .post-image-container {
        width: 350px;
        height: 170px;
        aspect-ratio: 1;
        margin-right: 1em;
        border-radius: 0px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        /* filter: sepia(0.4) contrast(1.2) saturate(0.9); */
    }
    .post-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* width: calc(100% - 100px - 1em); */
        max-width: 700px;
        width: 100%
    }
    .post-title {
        font-family: 'Urbanist', sans-serif;
        font-weight: 600px;
        font-size: 20px;
        color: #444;
        margin-bottom: 0em;
    }
    .post-description {
        font-family: 'Urbanist', sans-serif;
        font-size: 16px;
        color: #444;
        /* color: rgb(129, 129, 129); */
    }
    .post-date {
        font-family: 'Urbanist', sans-serif;
        font-size: 13px;
        color: #999;
    }

    .highlighted-image-container, .post-image-container {
        /* ... existing styles for image containers ... */
        transition: filter 0.2s ease; /* Smooth transition for the filter effect */
    }

    .highlighted-post:hover .highlighted-image-container,
    .list-item-link:hover .post-image-container {
        filter: brightness(0.7); /* Darken the image on hover */
    }

    @media (max-width: 1850px) {
        .highlighted-posts-container {
            justify-content: center; /* Center the items when they wrap */
            max-width: none; /* Allow full width on smaller screens */
        }
        .highlighted-post {
            width: calc(50% - 1em); /* Each item takes half the container width minus the gap */
        }
        .highlighted-image-container,
        .highlighted-post-title {
            width: calc(100% - 1.1em); /* Adjust width to fit the new .highlighted-post width */
            max-width: none; /* Override any max width set previously */
        }
    }

    @media (max-width: 900px) {
        .highlighted-posts-container {
            justify-content: center; /* Center the items when they wrap */
            max-width: none; /* Allow full width on smaller screens */
        }
        .highlighted-post {
            width: calc(50% - 1em); /* Each item takes half the container width minus the gap */
        }
        .highlighted-image-container,
        .highlighted-post-title {
            width: calc(100% - 1.1em); /* Adjust width to fit the new .highlighted-post width */
            max-width: none; /* Override any max width set previously */
        }
    }

    @media (max-width: 550px) {
        .highlighted-posts-container {
            justify-content: center;
        }
        .highlighted-post {
            width: 100%; /* Each item takes full container width */
            max-width: 180px; /* Maximum width of highlighted post */
            margin: 0 auto; /* Center the highlighted post */
        }
        .highlighted-image-container,
        .highlighted-post-title {
            width: 100%; /* Full width of the highlighted post */
            margin-left: auto;
            margin-right: auto;
        }
        
        /* Hide all highlighted posts except the first two */
        .highlighted-posts-container .highlighted-post:nth-child(n+3) {
            display: none;
        }

        .list-item {
            flex-direction: column; /* Stack image and content vertically */
            align-items: center; /* Align items to the center */
            margin-bottom: 3em; /* Space between list items */
            max-width: 100%; /* Ensure list items don't exceed the width of the screen */
        }
        .post-image-container {
            width: 100%; /* Full width */
            height: auto; /* Height is adjusted automatically */
            margin-right: 0; /* Resetting margin-right as it's no longer needed */
            /* Optional: Set specific height if you want to maintain a particular aspect ratio */
        }
        .post-content {
            align-items: center; /* Align the content in the center */
            text-align: center; /* Center-align the text */
            width: 100%; /* Full width */
            padding: 0 10px; /* Add some padding on the sides */
        }
        .post-title,
        .post-description,
        .post-date {
            width: 100%; /* Full width to align with the content */
            margin-right: 1em; /* Reset any right margin that might be causing the shift */
            margin-left: 0;
        }

        .list-item-link {
            flex-direction: column; /* Stack image container and content container vertically */
        }
        .list {
            padding: 0; /* Reset any padding that might affect the layout */
            width: 100%; /* Make sure the list takes full width */
        }
    }
    
</style>



<!-- Title for highlighted posts -->
<div class="highlights-title">FAVOURITES</div>

<!-- Highlighted posts -->
<div class="highlighted-posts-container">
  {highlightedPosts.map((post) => (
    <a href={`/${basePath}/${post.slug}/`} class="highlighted-post">
      <div class="highlighted-image-container" style={`background-image: url(${post.data.image});`}></div>
      <div class="highlighted-post-title">{post.data.title}</div>
    </a>
  ))}
</div>

<hr class="separator" />

<div class="all-title">ALL POSTS</div>


<ul class="list">
    {livePosts.map((post) => (
        <li class="list-item">
            <a href={`/${basePath}/${post.slug}/`} class="list-item-link">
                <div class="post-image-container" style={`background-image: url(${post.data.image});`}></div>
                <div class="post-content">
                    <div class="post-title">{post.data.title}</div>
                    <div class="post-description">{post.data.description}</div>
                    <div class="post-date"><FormattedDate date={new Date(post.data.published_at)} /></div>
                </div>
            </a>
        </li>
    ))}
</ul>

