---
// The frontmatter for BlogPostLayout component
import FormattedDate from './FormattedDate.astro';

interface PostLayoutLeftProps {
  title: string;
  description: string;
  published_at: Date;
  updated_at?: Date;
  image?: string;
}
const { title, description, published_at, updated_at, image } = Astro.props as PostLayoutLeftProps;
---
<div class="centered-container">
  <div class="header-content">
    <div class="text-content">
      <div class="date">
        <FormattedDate date={published_at} />
        <br>
        <!-- {updated_at && (
          <span class="last-updated-on">
            Last updated on <FormattedDate date={updated_at} />
          </span>
        )} -->
      </div>
      <div class="title">
        <h1>{title}</h1>
      </div>
      <div class="description">
        <p>{description}</p>
      </div>
    </div>
    {image && (
      <div class="hero-image">
        <img src={image} alt={title} />
      </div>
    )}
  </div>
  <hr />
  <div class="separator"></div>
  <article class="prose">
    <slot />
  </article>
</div>

<style>
    html, body {
        height: 100%;
        margin: 0;
    }

    body {
        display: flex;
        flex-direction: column; /* Stack main and footer vertically */
    }

    main {
        flex: 1; /* Allows the main content to expand and fill the available space */
        display: flex;
        flex-direction: column; /* Stack the content inside main vertically */
        justify-content: space-between; /* Distributes the space */
    }
    .centered-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1020px; /* Maximum width for large screens */
        width: 100%;
        margin: 2em auto;
    }
    .header-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
    }
    .text-content {
        margin-bottom: 1em;
    }
    .hero-image {
        width: 100%;
        max-width: 600px; /* Adjust the width of the image as needed */
        max-height: 400px;
        margin-bottom: 1em;
    }
    .hero-image img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        border-radius: 0;
        box-shadow: var(--box-shadow);
        
        /* margin-left: 0.5em; */
    }
    .prose {
        font-family: 'Urbanist', sans-serif;
        font-size: 20px;
        color: #444;
        max-width: 85%;
    }
    .title h1 {
        /* font-family: 'Urbanist', sans-serif; */
        font-family: 'Nothing You Could Do';
        font-size: 60px;
        color: #444;
        word-wrap: break-word; /* Prevents text from spilling out */
        margin: 0;
        margin-top: 10px;
    }
    .description{
        font-family: 'Urbanist', sans-serif;
        font-size: 20px;
        color: #444;
        font-style: italic;
    }
    .date,
    .last-updated-on {
        font-family: 'Urbanist', sans-serif;
        font-size: 20px;
        color: #999;
    }
    .last-updated-on {
        font-size: 15px; /* Smaller text for the updated date */
    }
    .separator {
        width: 95%;
        background-color: lightgrey;
        height: 1px;
        margin: 2em auto;
    }



    /* ALTERNATIVE LAYOUT FOR CENTRED TITLE, DATE, DESCRIPTION AND IMAGE
        .header-content {
            flex-direction: row;
            align-items: flex-start;
            text-align: left;
        }
        .text-content {
            margin-bottom: 0;
            margin-right: 1em;
        }
        .hero-image {
            margin-bottom: 0;
        } 
    */
</style>

<!-- You would also need to move the styling code here, or better yet, put it into a CSS file that gets imported. -->