---
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import Nav from '../../components/Nav.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('articles')).sort(
	(a, b) => new Date(b.data.published_at) - new Date(a.data.published_at)
);
---


<html lang="en">
<head>
    <BaseHead title={title} description={description} />
    <style>
        /* ... Your global styles ... */
        
        .hero {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 2em;
        }
        .left-content {
            text-align: left;
        }
        .title h1 {
            margin: 0;
        }
        .date {
            margin: 0;
            font-size: 0.9em;
            color: rgb(var(--gray));
        }
        .last-updated-on {
            font-style: italic;
            font-size: 0.8em;
        }
        .thumbnail {
            width: 150px; /* Adjust size accordingly */
            margin-left: 1em;
        }
        .thumbnail img {
            display: block;
            width: 100%;
            height: auto;
            border-radius: 12px;
            box-shadow: var(--box-shadow);
        }
        .prose {
            max-width: 720px;
            margin: auto;
            padding: 1em;
            color: rgb(var(--gray-dark));
        }
        
        /* Adjustments for responsive design */
        @media (max-width: 768px) {
            .hero {
                flex-direction: column;
                align-items: flex-start;
            }
            .thumbnail {
                margin: 1em 0;
            }
        }
    </style>
</head>
<body>
    <main>
        <div class="hero">
            <div class="left-content">
                <div class="date">
                    <FormattedDate date={published_at} />
                    {updated_at && (
                        <div class="last-updated-on">
                            Last updated on <FormattedDate date={updated_at} />
                        </div>
                    )}
                </div>
                <h1>{title}</h1>
                <p>{description}</p>
            </div>
            {image && (
                <div class="thumbnail">
                    <img src={image} alt="{title}" />
                </div>
            )}
        </div>
        <div class="prose">
            <slot />
        </div>
    </main>
    <Footer />
</body>
</html>