---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import PostLayoutLeft from '../components/PostLayoutLeft.astro';

type Props = CollectionEntry<'reviews'>['data'];

const { title, description, published_at, updated_at, image } = Astro.props;
---
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bad+Script&family=Dawning+of+a+New+Day&family=Julius+Sans+One&family=Junge&family=Montserrat&family=Neucha&family=Nothing+You+Could+Do&family=Urbanist:ital,wght@0,100..900;1,100..900&family=Zeyada&display=swap" rel="stylesheet">
    
  </head>
  <body>
    <GTMBodyNoScript />
    <PostLayoutLeft
      title={title}
      description={description}
      published_at={published_at}
      updated_at={updated_at}
      image={image}
    >
      <slot />
    </PostLayoutLeft>

    <Footer />
  </body>
</html>